.incident-list .ant-collapse .ant-collapse-item .ant-collapse-header {
  padding: 12px 0 12px 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.incident-list .ant-collapse .ant-collapse-item .ant-collapse-header span i {
  margin-right: 5px;
}

.incident-list .ant-collapse .ant-collapse-item .ant-collapse-header .anticon {
  left: initial;
  right: 16px;
}